In [1]:
# importing library
import pandas as pd

In [3]:
# Creating dataframes on the data gathered in part 2.
final_2000_df = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
final_2001_df = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')
# Combining the dataframes into one.
final_df = pd.concat([final_2000_df, final_2001_df], ignore_index = True)

In [12]:
# Filtering by those that there is valid financial information
valid_finance_df = final_df.loc[(final_df['budget'] > 0) | (final_df['revenue'] > 0)]
# Seeing how many movies have valid financial information.
valid_finance_df.shape[0]

623

In [14]:
# Checking how many different movies there are in each certification category.
final_df['certification'].value_counts()

R          452
PG-13      181
NR          68
PG          64
G           24
NC-17        6
Unrated      1
-            1
Name: certification, dtype: int64

In [24]:
# Getting the average revenue and budget for each category.
# We round to two because otherwise we get scientific notation which is hard
# to instantly understand. In the table the budget and revenue columns
# are the ones asked for.
final_df.groupby(['certification']).mean().round(2)

,adult,budget,id,popularity,revenue,runtime,video,vote_average,vote_count
certification,,,,,,,,,
-,0.0,0.00,172550.00,0.87,0.00,90.00,0.00,5.00,7.00
G,0.0,23833333.33,55619.58,30.96,72163319.33,80.29,0.04,6.08,1444.96
NC-17,0.5,0.00,238414.50,1.62,0.00,42.17,0.00,5.47,3.17
NR,0.0,1575001.38,250030.16,5.77,2221904.72,91.65,0.00,4.18,127.62
PG,0.0,24597656.39,45788.62,27.28,61435347.16,99.89,0.00,6.08,1393.00
PG-13,0.0,31231535.51,42255.77,17.89,71842275.04,105.03,0.00,5.86,1278.95
R,0.0,9963505.42,63244.83,11.70,16756125.06,100.43,0.00,5.35,502.72
Unrated,0.0,0.00,169801.00,2.78,0.00,88.00,0.00,6.70,3.00

In [26]:
# Saving the dataframe to a compressed csv file.
final_df.to_csv(f"Data/tmdb_results_combined.csv.gz", compression="gzip", index=False)