In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
final_2000_df = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
final_2001_df = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')
final_df = pd.concat([final_2000_df, final_2001_df], ignore_index = True)

In [4]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2498 entries, 0 to 2497
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2498 non-null   object
 1   adult                  2496 non-null   float64
 2   backdrop_path          1308 non-null   object
 3   belongs_to_collection  195 non-null    object
 4   budget                 2496 non-null   float64
 5   genres                 2496 non-null   object
 6   homepage               175 non-null    object
 7   id                     2496 non-null   float64
 8   original_language      2496 non-null   object
 9   original_title         2496 non-null   object
 10  overview               2446 non-null   object
 11  popularity             2496 non-null   float64
 12  poster_path            2214 non-null   object
 13  production_companies   2496 non-null   object
 14  production_countries   2496 non-null   object
 15  release_date           2480 non-null   object
 16  revenue                2496 non-null   float64
 17  runtime                2496 non-null   float64
 18  spoken_languages       2496 non-null   object
 19  status                 2496 non-null   object
 20  tagline                1048 non-null   object
 21  title                  2496 non-null   object
 22  video                  2496 non-null   float64
 23  vote_average           2496 non-null   float64
 24  vote_count             2496 non-null   float64
 25  certification          797 non-null    object
dtypes: float64(9), object(17)
memory usage: 507.5+ KB

In [12]:
valid_finance_df = final_df.loc[(final_df['budget'] > 0) | (final_df['revenue'] > 0)]
valid_finance_df.shape[0]

623

In [14]:
final_df['certification'].value_counts()

R          452
PG-13      181
NR          68
PG          64
G           24
NC-17        6
Unrated      1
-            1
Name: certification, dtype: int64

In [24]:
final_df.groupby(['certification']).mean().round(2)

,adult,budget,id,popularity,revenue,runtime,video,vote_average,vote_count
certification,,,,,,,,,
-,0.0,0.00,172550.00,0.87,0.00,90.00,0.00,5.00,7.00
G,0.0,23833333.33,55619.58,30.96,72163319.33,80.29,0.04,6.08,1444.96
NC-17,0.5,0.00,238414.50,1.62,0.00,42.17,0.00,5.47,3.17
NR,0.0,1575001.38,250030.16,5.77,2221904.72,91.65,0.00,4.18,127.62
PG,0.0,24597656.39,45788.62,27.28,61435347.16,99.89,0.00,6.08,1393.00
PG-13,0.0,31231535.51,42255.77,17.89,71842275.04,105.03,0.00,5.86,1278.95
R,0.0,9963505.42,63244.83,11.70,16756125.06,100.43,0.00,5.35,502.72
Unrated,0.0,0.00,169801.00,2.78,0.00,88.00,0.00,6.70,3.00

In [26]:
final_df.to_csv(f"Data/tmdb_results_combined.csv.gz", compression="gzip", index=False)